/*
$active-color: cornflowerblue;

.navbar {
  display: block;
  width: 80%;
  margin: 10px auto;
  text-align: center;

  ul {
    display: block;
    margin-top: 50px;

    li {
      display: inline-block;
      list-style: none;
      margin: 0 20px;

      .active {
        color: $active-color;
      }

      a {
        text-decoration: none;
        color: #000;

        &:hover {
          color: $active-color;
        }
      }
    }
  }

}*/

body {
  background: #eee;
  font-family: Proxima Nova, Helvetica, sans-serif;
}
#app {
  background: #fff;
  width: calc(75vw - 60px);
  margin: 0px auto 0px auto;
  padding: 30px;
}
ul {
  background: #fff;
  font-size: 0px;
  margin: 0;
  padding: 0;
}
li {
  background: #fff;
  list-style: none;
  display: inline-block;
  font-size: 24px;
  font-family: Proxima Nova, Helvetica, sans-serif;
  color: #333;
  margin: 0px 10px 0px 0px;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid #fff;
  transition: color 0.15s, border 0.15s;
}
li:hover {
  cursor: pointer;
  color: #17b8ce;
  border-bottom: 3px solid #17b8ce;
}
li:last-child {
  margin: 0 0 0 0;
}
.active {
  color: #17b8ce;
  border-bottom: 3px solid #17b8ce;
}
.active:hover {
  cursor: pointer;
  color: #0797ae;
  border-bottom: 3px solid #0797ae;
}
h2 {
  font-size: 18px;
  color: #333;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #666;
  font-weight: 300;
}
.content {
  margin-top: 30px;
}
